.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* responsive */
/* tablet size */
@media screen and (max-width: 992px) {
  .row {
    width: 100%;
  }

  img {
    width: 100%;
    object-fit: contain;
  }

  #why .row img {
    width: 200px;
  }

  #lezioni .row>.left,
  #lezioni .row>.right {
    width: calc(50% - 20px);
    margin: 0 5px;
  }

  #steps .row>.left,
  #steps .row>.central {
    width: calc(50% - 20px);
    margin: 0 5px;
  }

  #steps .row>.right {
    width: 100%;
    margin-top: 50px;
  }

  #why .row>.first {
    margin-top: 20px;
  }

  #why .row>.second,
  #why .row>.third {
    margin-top: 40px;
  }
}

/* mobile size */
@media screen and (max-width: 420px) {
  .row {
    width: 100%;
  }

  img {
    width: 100%;
    object-fit: contain;
  }

  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
    float: none;
    margin: 0;
  }

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    width: 100%;
    float: none;
    margin: 0;
  }

  #lezioni .row>.right,
  #steps .row>.central,
  #steps .row>.right {
    margin-top: 50px;
  }

  #why .row>.first {
    margin-top: 20px;
  }

  #why .row>.second,
  #why .row>.third {
    margin-top: 40px;
  }
}